body {
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  .header {
    padding: 20px;
    border-bottom: 1px solid #bbb;
  }
  .content {
    background-color: #FFF;
    padding: 40px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }